<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springMultiBean" class="spring.ioc.SpringSimpleMultiBean" init-method="initMethod">
        <property name="id" value="1"/>
        <property name="name" value="spring"/>
    </bean>


    <bean id="springOtherBean" class="spring.SpringOtherBean"></bean>


</beans>